@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

html{
    scroll-behavior: smooth;
    background-color:  #141414;
}

.menu{
    max-width: 1280px;
    margin: auto;
}

.topo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topo nav a:hover{
    text-decoration: underline #27aedf 4px;
}

header{
    width: 100%;
    padding: 40px 4%;
    position: fixed;
    z-index: 9990;
    top: 0;
    left: 0;
    transition: .5s;
}

header.rolagem{
    background-color: #5c5c5c;
    padding: 10px 4%;
}

header.rolagem a{
    color: #fff;
}

header .logo{
    width: 80px;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin: 0 40px;
}

header ul li a{
    color: #fff;
    text-decoration: none;
}

.btn_saibaMais {
	background-color: #0061a7;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	padding:16px 34px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b6178;
}
.btn_saibaMais:hover {
	background-color:#27aedf;
}
.btn_saibaMais:active {
	position:relative;
	top:1px;
}

.banner{
    width: 100%;
    height: auto;
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #000000;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0,
    #000000 90px ), repeating-linear-gradient( #1f1f1f55, #1f1f1f );
}

.banner h1{
    font-size: 60px;
    color: white;
    text-align: center;
    padding: 0 20px;
}

.banner h1 span{
    color: #0061a7;
}

.thadeu{
    width: 40%;
    padding-top: 6rem;
}



.conteudo{
    text-align: center;
}

.corpo{
    padding-top: 8rem;
    font-size: 32px;
    color: white;
    min-width: 100vh;
}

.corpo h1{
    padding-bottom: 4px;
}

.corpo h5{
    padding-bottom: 2px;
    font-size: 24px;
    color: #27aedf;
}

.container-slider{
    display: flex;
    width: 100%;
    min-height: 70vh;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.container-images{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
}

.slider{
    opacity: 0;
    transition: opacity .2s;
    position: absolute;
    width: 100%;
    border-radius: 10px;
}

.on{
    opacity: 1;
}

#prev-btn, #next-btn{
    width: 60px;
    height: 60px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#prev-btn img, #next-btn img{
    width: 100%;
    height: 100%;
}

#prev-btn{
    transform: rotate(180deg);
}

.container-curso, .container-sobre{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.img-curso{
    border-radius: 10px;
}

.txt-curso{
    padding-left: 50px;
}

.img-sobre{
    border-radius: 10px;
}

.txt-sobre{
    padding-right: 50px;
}


.container-saibaMais{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.img-agende{
    width: 450px;
}

.social{
    margin: 2rem;
    color: #fff;
}

.icon:hover{
    transform: scale(1.2);
}

footer{
    height: 80px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5c5c5c;
}


@media screen and (max-width: 767px) {

    .header{
        padding: 20px 2%;
    }
  
    .banner h1 {
      font-size: 24px;
    }
  
    .thadeu {
      padding-top: 4rem;
    }
  
    .corpo h1 {
      font-size: 24px;
    }
  
    .corpo h5 {
      font-size: 16px;
    }
  
    .container-slider {
      flex-direction: column;
      align-items: stretch;
      padding: 0;
    }
  
    .container-images {
      width: 100%;
      overflow: visible;
    }
  
    .slider {
      max-width: none;
      width: 100%;
      height: auto;
      margin: 10px 0;
      position: relative;
    }
  
    #prev-btn,
    #next-btn {
      width: 30px;
      height: 30px;
    }
  }
